.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table-head {
  width: 961px;
  height: 47px;
  top: 172px;
  left: 32px;
  padding: 14px 32px 14px 32px;
  gap: 125px;
  color: white;
  border-radius: 8px 8px 0px 0px;
  background: linear-gradient(180deg, #5A84C0 0%, #594ED2 100%);
  box-shadow: 0px 1px 2px 0px #00000033;




}

.table-head-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.table-row {
  border-bottom: 1px solid #ddd;
}

.table-cell {
  padding: 10px;
  text-align: left;
}

.table-cell img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}